[submodule "my-reads"]
	path = my-reads
	url = https://github.com/mihaiyoo6/my-reads.git
[submodule "reactnd-project-readable-starter"]
	path = reactnd-project-readable-starter
	url = https://github.com/mihaiyoo6/reactnd-project-readable-starter.git
